<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BankPro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">


</head>

<body>

<nav>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Operations</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/agent/depot-retrait}">Dépot / Retrait</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/agent/virement}">Virement</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/agent/placement}">Placement</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/agent/credit}">Paiement Credit</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Compte</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/agent/creerCompte}">Créer un compte</a>
                <a class="dropdown-item" th:href="@{/agent/supprimer}">Supprimer un compte</a>
                <a class="dropdown-item" th:href="@{/agent/demandeCredit}">Demande de credit</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Accueil</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/agent}">Accueil</a>
                <a class="dropdown-item" th:href="@{/logout}">deconnection</a>


            </div>
        </li>
    </ul>
</nav>


<div class="app-body">
    <main class="container">
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>

        <div th:if="${success}" class="alert alert-success">
            <p th:text="${success}"></p>
        </div>
        <form th:action="@{/agent/supprimer}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <p>Entrer le compte à cloturer</p>
            <input class="form-control" type="number" th:name="numCpt" placeholder="Numéro du compte" required>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Valider la fermuture du compte</button>

        </form>
    </main>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/supprimer.js"></script>

<script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
